Repository HHS/grants-api, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coilysiren, @acouch, @mdragon, @widal001, @chouinar, @andycochran, @doug-s-nava

.github/CODEOWNERS:

/.github/        @coilysiren @acouch @mdragon 
/analytics/      @coilysiren @widal001 @acouch 
/api/            @chouinar @mdragon
/bin/            @coilysiren @acouch @mdragon 
/documentation/ *
/frontend/       @andycochran @acouch @doug-s-nava 
/infra/          @coilysiren @acouch @mdragon

agencies are coming back and being displayed, unclear if it's the right list yet
  frontend/src/app/[locale]/search/error.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterAccordion.tsx
  frontend/src/components/search/SearchFilters.tsx
  frontend/src/services/fetch/endpointConfigs.ts
  frontend/src/services/fetch/fetchers/agenciesFetcher.ts
  frontend/src/services/fetch/fetchers/fetchers.ts
Owners: @andycochran, @acouch, @doug-s-nava

more reorg and fix high level test
  frontend/src/components/search/SearchFilterAccordion/AgencyFilterAccordion.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterAccordion.tsx
  frontend/src/components/search/SearchFilters.tsx
  frontend/tests/components/search/SearchFilters.test.tsx
Owners: @andycochran, @acouch, @doug-s-nava

this seems to work with zustand
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/[locale]/search/error.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/search/SearchFilterAccordion/AgencyFilterAccordion.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterAccordion.tsx
  frontend/src/components/search/SearchFilters.tsx
  frontend/src/services/fetch/fetchers/agenciesFetcher.ts
  frontend/src/services/globalState/GlobalStateProvider.tsx
Owners: @andycochran, @acouch, @doug-s-nava

wip trying to work around the client side error issue
  frontend/src/app/[locale]/search/error.tsx
  frontend/src/components/search/SearchFilters.tsx
Owners: @andycochran, @acouch, @doug-s-nava

fixes and reorganizations
  frontend/src/components/search/SearchFilters.tsx
  frontend/src/services/fetch/fetchers/agenciesFetcher.ts
  frontend/src/utils/search/generateAgencyNameLookup.ts
  frontend/src/utils/search/searchUtils.ts
Owners: @andycochran, @acouch, @doug-s-nava

test and lint fixes
  frontend/src/components/search/SearchResultsListItem.tsx
  frontend/src/services/globalState/GlobalStateProvider.tsx
  frontend/tests/components/search/SearchFilterAccordion/AgencyFilterAccordion.test.tsx
  frontend/tests/components/search/SearchFilterAccordion/SearchFilterAccordion.test.tsx
  frontend/tests/components/search/SearchFilters.test.tsx
  frontend/tests/pages/search/page.test.tsx
  frontend/tests/services/fetch/fetchers/agenciesFetcher.test.ts
Owners: @andycochran, @acouch, @doug-s-nava

e2e fixes
  frontend/src/components/search/SearchFilterAccordion/SearchFilterAccordion.tsx
  frontend/tests/e2e/search/search.spec.ts
  frontend/tests/e2e/search/searchSpecUtil.ts
  frontend/tests/e2e/search/searchUtil.ts
Owners: @andycochran, @acouch, @doug-s-nava

add tests
  frontend/src/app/[locale]/search/error.tsx
  frontend/src/components/search/SearchFilterAccordion/AgencyFilterAccordion.tsx
  frontend/src/services/globalState/GlobalStateProvider.tsx
  frontend/tests/components/search/SearchFilterAccordion/AgencyFilterAccordion.test.tsx
  frontend/tests/services/globalState/GlobalStateProvider.test.tsx
Owners: @andycochran, @acouch, @doug-s-nava

fix up functionality for fetching agency display value in search results
  frontend/src/components/search/SearchResultsListItem.tsx
  frontend/src/services/globalState/GlobalStateProvider.tsx
  frontend/src/utils/search/generateAgencyNameLookup.ts
  frontend/src/utils/search/searchUtils.ts
  frontend/tests/components/search/SearchResultsListItem.test.tsx
  frontend/tests/utils/search/searchUtils.test.ts
Owners: @andycochran, @acouch, @doug-s-nava

wip tests
  frontend/src/services/fetch/fetchers/agenciesFetcher.ts
  frontend/tests/services/fetch/fetchers/agenciesFetcher.test.ts
  frontend/tests/utils/search/searchUtils.test.ts
Owners: @andycochran, @acouch, @doug-s-nava

remove hardcoded options
  frontend/src/components/search/SearchFilterAccordion/SearchFilterOptions.ts
Owners: @andycochran, @acouch, @doug-s-nava

post rebase fixes
  frontend/src/app/[locale]/search/error.tsx
  frontend/tests/errors.test.ts
Owners: @andycochran, @acouch, @doug-s-nava

skip loading test
  frontend/tests/e2e/search/search-loading.spec.ts
  frontend/tests/e2e/search/searchSpecUtil.ts
Owners: @andycochran, @acouch, @doug-s-nava

fixes after rebase
  frontend/src/app/[locale]/search/error.tsx
  frontend/src/services/globalState/GlobalStateProvider.tsx
Owners: @andycochran, @acouch, @doug-s-nava

try to make filter tests less flaky
  frontend/tests/e2e/search/search.spec.ts
  frontend/tests/e2e/search/searchSpecUtil.ts
Owners: @andycochran, @acouch, @doug-s-nava

e2e fixes
  frontend/package-lock.json
  frontend/tests/e2e/search/search-error.spec.ts
  frontend/tests/e2e/search/search-loading.spec.ts
  frontend/tests/e2e/search/search.spec.ts
Owners: @andycochran, @acouch, @doug-s-nava

need open search seed for pa11y tests
  .github/workflows/ci-frontend-a11y.yml
Owners: @coilysiren, @acouch, @mdragon

cache agencies call
  frontend/src/services/fetch/fetchers/agenciesFetcher.ts
  frontend/src/services/fetch/fetchers/fetchers.ts
  frontend/tests/services/fetch/fetchers/agenciesFetcher.test.ts
Owners: @andycochran, @acouch, @doug-s-nava

Ensure top_level_agency_name is always set
  api/src/db/models/agency_models.py
  api/src/db/models/opportunity_models.py
Owners: @chouinar, @mdragon

format
  api/src/db/models/opportunity_models.py
Owners: @chouinar, @mdragon
