Repository HHS/grants-api, changes with the labels that .github/labeler.yml gives for each.
All labels: javascript, typescript, python, terraform, api, frontend, analytics, ci/cd, docs, infra, database, openapi, storybook

agencies are coming back and being displayed, unclear if it's the right list yet
  frontend/src/app/[locale]/search/error.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterAccordion.tsx
  frontend/src/components/search/SearchFilters.tsx
  frontend/src/services/fetch/endpointConfigs.ts
  frontend/src/services/fetch/fetchers/agenciesFetcher.ts
  frontend/src/services/fetch/fetchers/fetchers.ts
Labels: typescript, frontend

more reorg and fix high level test
  frontend/src/components/search/SearchFilterAccordion/AgencyFilterAccordion.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterAccordion.tsx
  frontend/src/components/search/SearchFilters.tsx
  frontend/tests/components/search/SearchFilters.test.tsx
Labels: typescript, frontend

this seems to work with zustand
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/[locale]/search/error.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/search/SearchFilterAccordion/AgencyFilterAccordion.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterAccordion.tsx
  frontend/src/components/search/SearchFilters.tsx
  frontend/src/services/fetch/fetchers/agenciesFetcher.ts
  frontend/src/services/globalState/GlobalStateProvider.tsx
Labels: typescript, frontend

wip trying to work around the client side error issue
  frontend/src/app/[locale]/search/error.tsx
  frontend/src/components/search/SearchFilters.tsx
Labels: typescript, frontend

fixes and reorganizations
  frontend/src/components/search/SearchFilters.tsx
  frontend/src/services/fetch/fetchers/agenciesFetcher.ts
  frontend/src/utils/search/generateAgencyNameLookup.ts
  frontend/src/utils/search/searchUtils.ts
Labels: typescript, frontend

test and lint fixes
  frontend/src/components/search/SearchResultsListItem.tsx
  frontend/src/services/globalState/GlobalStateProvider.tsx
  frontend/tests/components/search/SearchFilterAccordion/AgencyFilterAccordion.test.tsx
  frontend/tests/components/search/SearchFilterAccordion/SearchFilterAccordion.test.tsx
  frontend/tests/components/search/SearchFilters.test.tsx
  frontend/tests/pages/search/page.test.tsx
  frontend/tests/services/fetch/fetchers/agenciesFetcher.test.ts
Labels: typescript, frontend

e2e fixes
  frontend/src/components/search/SearchFilterAccordion/SearchFilterAccordion.tsx
  frontend/tests/e2e/search/search.spec.ts
  frontend/tests/e2e/search/searchSpecUtil.ts
  frontend/tests/e2e/search/searchUtil.ts
Labels: typescript, frontend

add tests
  frontend/src/app/[locale]/search/error.tsx
  frontend/src/components/search/SearchFilterAccordion/AgencyFilterAccordion.tsx
  frontend/src/services/globalState/GlobalStateProvider.tsx
  frontend/tests/components/search/SearchFilterAccordion/AgencyFilterAccordion.test.tsx
  frontend/tests/services/globalState/GlobalStateProvider.test.tsx
Labels: typescript, frontend

fix up functionality for fetching agency display value in search results
  frontend/src/components/search/SearchResultsListItem.tsx
  frontend/src/services/globalState/GlobalStateProvider.tsx
  frontend/src/utils/search/generateAgencyNameLookup.ts
  frontend/src/utils/search/searchUtils.ts
  frontend/tests/components/search/SearchResultsListItem.test.tsx
  frontend/tests/utils/search/searchUtils.test.ts
Labels: typescript, frontend

wip tests
  frontend/src/services/fetch/fetchers/agenciesFetcher.ts
  frontend/tests/services/fetch/fetchers/agenciesFetcher.test.ts
  frontend/tests/utils/search/searchUtils.test.ts
Labels: typescript, frontend

remove hardcoded options
  frontend/src/components/search/SearchFilterAccordion/SearchFilterOptions.ts
Labels: typescript, frontend

post rebase fixes
  frontend/src/app/[locale]/search/error.tsx
  frontend/tests/errors.test.ts
Labels: typescript, frontend

skip loading test
  frontend/tests/e2e/search/search-loading.spec.ts
  frontend/tests/e2e/search/searchSpecUtil.ts
Labels: typescript, frontend

fixes after rebase
  frontend/src/app/[locale]/search/error.tsx
  frontend/src/services/globalState/GlobalStateProvider.tsx
Labels: typescript, frontend

try to make filter tests less flaky
  frontend/tests/e2e/search/search.spec.ts
  frontend/tests/e2e/search/searchSpecUtil.ts
Labels: typescript, frontend

e2e fixes
  frontend/package-lock.json
  frontend/tests/e2e/search/search-error.spec.ts
  frontend/tests/e2e/search/search-loading.spec.ts
  frontend/tests/e2e/search/search.spec.ts
Labels: typescript, frontend

need open search seed for pa11y tests
  .github/workflows/ci-frontend-a11y.yml
Labels: ci/cd

cache agencies call
  frontend/src/services/fetch/fetchers/agenciesFetcher.ts
  frontend/src/services/fetch/fetchers/fetchers.ts
  frontend/tests/services/fetch/fetchers/agenciesFetcher.test.ts
Labels: typescript, frontend

Ensure top_level_agency_name is always set
  api/src/db/models/agency_models.py
  api/src/db/models/opportunity_models.py
Labels: python, api, database

format
  api/src/db/models/opportunity_models.py
Labels: python, api, database

.github/labeler.yml:

#
# Pull request label rules.
#
# Runs in action pull-request-labeler.yml.
#
# See https://github.com/marketplace/actions/labeler
#

# Labels for programming languages.
javascript: ["**/*.js", "**/*.jsx"]
typescript: ["**/*.ts", "**/*.tsx"]
python: "**/*.py"
terraform: "**/*.tf"


# Labels for components or parts of the code.
api: api/**/*
frontend: frontend/**/*
analytics: analytics/**/*
ci/cd: [".github/workflows/**/*", "bin/**/*", "**/*/Makefile"]
docs: ["docs/**/*", "**/*.md"]
infra: infra/**/*


database: api/src/db/**/*
openapi: api/openapi.generated.yaml
storybook: ["frontend/stories/**/*", "frontend/.storybook/**/*"]
